.light {
  --bg-color: #d3d9d9;
  --inverted-bg-color: #111198;
  --primary-color: #1313b9;
  --secondary-color: #0a2867;
  --inverted-primary-color: #0fd90f;
  --inverted-secondary-color: #1a731a;
}
